<h1 class="partial-header">Questions</h1>
<p class="partial-description">Please answers the questions listed below.</p>

<div ng-controller="QuestionsController">
    <form novalidate class="questions-form" ng-submit="submit()">
        <label for="questionOne">1. How am I finding AngularJS?</label><br>
        <select name="questionOne" ng-model="data.questionOne" id="questionOne">
            <option>Love It</option>
            <option>It's Okay</option>
            <option>Meh</option>
            <option>Absolutely Terrible</option>
        </select>
        <br><br>
        <label for="questionTwo">2. Will I have learned all that I need to know in time?</label><br>
        <select name="questionTwo" id="questionTwo" ng-model="data.questionTwo">
            <option>Easy</option>
            <option>Maybe</option>
            <option>Hopefully</option>
        </select>
        <br><br>
        <button type="submit" value="Submit Questionnaire">Submit Questionnaire</button>
    </form>

    <h3>Two-Way Data Binding</h3>
    <p>{{ data | json}}</p>
</div>